*{
    font-family: 'Poppins', sans-serif;
    
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #787878;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.social-list{
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
  .social-list i{
    color: #fff;
      padding: 0 10px;
      font-size: 13px;
  }
  .nav-item{
    padding-left: 15px;
      padding-right: 15px;
  }
  .nav-link{
    color: #fff !important;
      font-size: 13px;
      font-family: 'Poppins', sans-serif;
      padding-top: 30px;
      padding-bottom: 30px;
      font-weight: 500;
  }
  
  .social-list ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100px;
  }
  .navbar{
    position: absolute;
    right: 0;
    left: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      z-index: 99999;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; 
  }
  .navbar-brand{
    width: 80px;
  }
  
  .creative-team .tit{
    font-size: 40px;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important  ;
    stroke: white;
  }
header .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
.awsome {
  text-align: center;

  margin: 0.67em 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 100px;
  transform-origin: 50% 50% 0px;
  opacity: 1;
  transform: scale(1);
}
.sec {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  font-weight: 400;
  font-size: 18px;
  transform-origin: 50% 50% 0px;
  opacity: 1;
}
.ovelay {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: rgba(31, 31, 31, 0.55);
}

.mmmm{
    position: relative;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: black;
    height: 100%;
}
header{
    position: relative;
}
.right-btn{

vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
user-select: none;
border: 1px solid transparent;
position: relative;
padding: 0 30px;
height: 50px;
border-radius: 4px;
font-size: 14px;
font-weight: 600;
transition: all .3s ease;
font-family: 'Poppins', sans-serif;
letter-spacing: -0.04em;
overflow: hidden;
color: #fff;
border-color: #fff;
background-color: transparent;
line-height: 48px;
border-width: 1px;
margin-left: 15px;
outline-style: none;
}
.right-btn:hover{
    color: black;
    background-color: white;
}
.btn-left{

text-align: center;
display: inline-block;
margin-bottom: 0;
white-space: nowrap;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
user-select: none;
border: 1px solid transparent;
position: relative;
padding: 0 30px;
height: 50px;
line-height: 50px;
border-radius: 4px;
border-width: 0;
font-size: 14px;
font-weight: 600;
transition: all .3s ease;
font-family: 'Poppins', sans-serif;
letter-spacing: -0.04em;
overflow: hidden;
color: #fff;
background-color: #00c3da;
}
.section-about{
    padding-top: 110px;
    padding-bottom: 110px;
}
.title>h6 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.05em;
    margin-top: 0;}
.prg{
font-family: 'Source Sans Pro', sans-serif;
color: #787878;
line-height: 1.5;
text-align: center;
box-sizing: border-box;
min-height: 0;
min-width: 0;
font-weight: 300;
margin: 20px 0;
font-size: 20px;
padding-bottom: 20px;
}
.creative-team{
    border-top: 1px solid #eee;
    padding-top: 110px;
    padding-bottom: 110px;
}
.tit{
 
text-align: center;
box-sizing: border-box;

margin-top: 20px;
margin-bottom: 10px;
font-family: 'Poppins', sans-serif;
color: #1f1f1f;
line-height: 1.3;
font-weight: 700;
letter-spacing: -1px;
font-size: 32px;
position: relative;
}
.tit:before  {
    z-index: 0;
    content: 'c';
    font-size: 2em;
    opacity: .06;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -0.5em;
    left: -0.15em;
    text-align: center;
    text-transform: uppercase;}

.sub{
text-align: center;
box-sizing: border-box;

margin-top: 10px;
margin-bottom: 10px;
line-height: 1.3;
font-weight: 400;
font-size: 18px;
font-family: 'Source Sans Pro', sans-serif;
color: #787878;
}
.creative-team .content{
    padding-bottom: 25px;
    padding-top: 25px;
}
.team_member{
    position: relative;
    overflow: hidden;
}
.tm-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 195, 218, 0.9);
    color: #fff;
    transition: all .3s ease;
    opacity: 0;
    transform: translateY(20px);

    visibility: hidden;

    display: flex;

    align-items: flex-end;
}
.team_member:HOVER .tm-overlay{
        transition: all .3s ease;
        transform: translateY(0px);


        opacity: 1;
        visibility: visible;


    

}

.team-social{
 
font-weight: 400;
font-size: 16px;
color: #fff;
text-align: left;

list-style: none;
margin: 15px 0 0;
padding: 20px;
position: absolute;
top: 0;
left: 0;
width: 100%;
margin-top: 0;
display: flex;
flex-flow: row;
justify-content: END;
}
.team-social>li {
    display: inline-block;
    margin-right: 10px;
}

.team-social i{
    color: white;
}
.tm-info{
    padding: 20px;
}
.tm-info h4{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-size: 13px;
}
.tm-info span{
    text-align: left;

font-weight: 400;
line-height: 1.5;   
font-family: 'Poppins', sans-serif;
color: #fff;
font-size: 12px;
}
.work-sec{
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #636363;
}
.work-sec-overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #1f1f1f;
    opacity: .7;            
}
.work-item{
    margin-top: 25px;
    margin-bottom: 25px;
}
.ico svg{
        stroke: white;

font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
box-sizing: border-box;
min-height: 0;
min-width: 0;
width: 55px;
margin-bottom: 25px;
margin-left: auto;
margin-right: auto;
}
.ico{
    text-align: center;
}
.upper{
color: white;
text-align: center;
box-sizing: border-box;
margin-bottom: 10px;
font-family: 'Poppins', sans-serif;
line-height: 1.3;
text-transform: uppercase;
font-weight: 600;
margin-top: 0;
font-size: 13px;
letter-spacing: 0.1em;
}
.pb-25 {
    padding-bottom: 25px;
}
.pt-25 {
    padding-top: 25px;
}
.main-tit {
    margin-bottom: 25px;
    position: relative;
    z-index: 10;
}
.main-tit h2::before{
    z-index: -1;
    content: 'W';
    font-size: 2em;
    opacity: .06;
    position: absolute;
    top: -0.5em;
    left: -0.15em;
    text-align: center;
    text-transform: uppercase;
}
.main-tit h2{

margin-top: 20px;
margin-bottom: 10px;
font-family: 'Poppins', sans-serif;
line-height: 1.3;
font-weight: 700;
font-size: 38px;
color: white;
}
.p-sty{
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #fff;
box-sizing: border-box;
min-height: 0;
min-width: 0;
margin: 0 0 10px;
}
.mt-25{
    margin-top: 25px;
}
.checkList{
list-style: none;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #fff;

}
.checkList li{
    padding: 6px 0;

}
.checkList li span{
    padding: 6px 0;

}

.prices{
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #f7f7f7;
    
}
.packs{
    background-color: white;
    z-index: 88;
    max-width: 400px;
    padding: 45px 35px;
    margin: 50px auto 25px;
    position: relative;
    width: 100%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    transition: all .3s ease;
}
.price h2 span {
    font-size: 18px;
    font-weight: 400;
    vertical-align: top;
    
}
.price{
    border-bottom: 1px solid #eee;
    padding: 15px 0;

}
.content-section1{
    text-align: center;  
}
.m-margin{
    margin: 0px auto;
    padding: 100px;
}
.tstm{
    background-color: #F7F7F7;
    padding-bottom: 60px;
}
.paa{
    /* padding: 162px; */
    margin: 50px auto;
    padding: 75px 100px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    max-width: 750px;
}
.img-pr{
    width: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -125px;
}
.he{
    height: 10px !important;
    width: 10px !important;
    background-color: #00c3da !important;
}
.color-icone{
    font-size: 30px;
    color: black;
}
.title1 h6{

    text-align: center;
    box-sizing: border-box;

    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.05em;
    margin-top: 0;
}
.content-section1 h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: -0.03em;
}
.content-section1 span{
    color: #787878;

    text-align: center;

    text-transform: uppercase;
    font-family: 'Poppins', serif;
    font-size: 12px;
    letter-spacing: 0.03em;
    font-weight: 500;
}
.content-section1 p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #787878;
    text-align: center;
    margin: 25px 0;
    font-size: 18px;
    font-weight: 300;
}
.pos-abs{
    position: absolute;
    top: 50%;
    left: 0;
}
.rel a{
    position: relative !important;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-left: 0;
    line-height: 50px;
    color: #fff;
    font-size: 28px;
    display: block;
    transition: all .3s ease;
}
.rel a:hover{
    background-color: white;
}
.rel a:hover span{
    color: black;
}
 .features>li {
    padding: 8px 0;
}
.price h2 {
    font-size: 55px;
    font-weight: 500;
    letter-spacing: -3px;
    margin: 0;
}
.features>li span {
    font-weight: 400;
    color: #787878;
    font-size: 14px ;
}
.cust-btn{

text-align: center;
display: inline-block;
margin-bottom: 0;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
border-width: 0;
font-weight: 600;
transition: all .3s ease;
overflow: hidden;
box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
color: #fff;
background-color: #00c3da;
padding: 0 16px;
font-size: 12px;
height: 40px;
line-height: 40px;
}
.features{
    margin-bottom: 20px;
}

.f-label{
    position: absolute;
    top: 40px;
    right: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #00c3da;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
}
.packname h4 {
    font-size: 13px;
    margin: 0;
    font-weight: 400;}
.volo{
    transform: scale(1.08);
}

/* start of animation */
.text_1 {
    animation: text1;
  }
  
  .text_2 {
    animation: text2;
  }
  .text_3 {
    animation: text3;
  }
  .text_1,
  .text_2,
  .text_3 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 7s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
    color: #00c3da ;
    font-size: 20px;
    top: 8px;
    font-weight: 300;
      }
  
  .text_1::after,
  .text_2::after,
  .text_3::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
  }
  @keyframes text3 {
    0%,
    33.333%,
    66.6666%,
    100% {
      width: 0;
    }
    70%,
    95% {
      width: 4.8em;
    }
  }
  @keyframes text1 {
    0%,
    33.333%,
    66.6666%,
    100% {
      width: 0;
    }
    5%,
    28% {
      width: 60px;
    }
  }
  @keyframes text2 {
    0%,
    33.333%,
    66.6666%,
    100% {
      width: 0;
    }
    39%,
    61% {
      width: 5.4em;
    }
  }
  @keyframes caret {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
  }
  
.form-control{
        height: 50px;
        padding: 0 15px;
        font-size: 15px;
        line-height: 50px;
        border: 2px solid #eee;
        border-radius: 0;
        box-shadow: none;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    
    
}
.contact .tit:before{
    content: 'G';
}
.ff{
    padding: 40px 40px ;
}
.team_member{
    
    margin-bottom: 20px;

}
.features{
    
display: flex;
flex-flow: column;
}
@media only screen and (max-width: 980px) {
    .social-list{
        visibility: hidden;
    }
    .nav-link{
    padding-top: 0px !important;
    padding-bottom: 15px !important;

    }
    .awsome{
        font-size: 40px;

    }   
    .sec{
        font-size: 18px;

    }
    .volo{
        transform: scale(1);
    }
    .query{
        padding: 100px 10px 10px; 
    }
    .m-margin{
        margin: 0px auto;
        padding: 0px;
    }
    .img-pr{
        
        margin-top: -150px;
    }
    .visa span{
        visibility: hidden;
    }
}